<div class="container">
  <h1>SNACK OVERFLOW</h1>
  <h1>Big Snack Question List!</h1>

  <div class="question">
    <h2>votes</h2>
    <a href = "#">Question Title</a>
    <p>question text</p>

    <h2>votes</h2>
    <a href = "#">Question Title</a>
    <p>question text</p>

    <h2>votes</h2>
    <a href = "#">Question Title</a>
    <p>question text</p>

    <h2>votes</h2>
    <a href = "#">Question Title</a>
    <p>question text</p>

  </div>
</div>

<!--
<a href="/sessions/logout">Logout</a> -->

<% if !session[:user_id].nil? %>
  <a href="/sessions/logout">Logout</a>
  <a href="/users/<%= session[:user_id] %>">Profile</a>
<% else %>
  <a href="/users/new"> Sign Up </a>
  <a href="/sessions/login"> Login </a>
<% end %>
