<div class="container">
  <h1>SNACK OVERFLOW</h1>
  <h1>Big Snack Question List!</h1>
  <nav>
    <ul>
      <li><a href="#">Snack Questions</a></li>
      <li><a href="#">Snack Topics</a></li>
      <li><a href="#">Random Snack</a></li>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/sessions/login">Login</a></li>
    </ul>
  </nav>

  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>
  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>
  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>
  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>

</div>


