<div class="container">
  <h1>SNACK OVERFLOW</h1>
  <h1>Questions List</h1>
  <nav>
    <ul>
      <li>Snack Questions</li>
      <li>Snack Topics</li>
      <li>Random Snack</li>
    </ul>
  </nav>

  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>
  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>
  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>
  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>

</div>

<a href="/users/new"> Sign Up </a>
<a href="/sessions/login"> Login </a>
