<div class="container">
  <h1>SNACK OVERFLOW</h1>
  <h1>Big Snack Question List!</h1>

  <div class="question">
    <h2>votes</h2>
    <a href = "#">Question Title</a>
    <p>question text</p>

    <h2>votes</h2>
    <a href = "#">Question Title</a>
    <p>question text</p>

    <h2>votes</h2>
    <a href = "#">Question Title</a>
    <p>question text</p>

    <h2>votes</h2>
    <a href = "#">Question Title</a>
    <p>question text</p>

  </div>
</div>


