<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Snack Overflow</title>
</head>
<body>
    <nav>
      <img src="http://i.imgur.com/Wey1iRp.png">
      <ul>
        <li><a href="#">Snack Questions</a></li>
        <li><a href="#">Snack Topics</a></li>
        <li><a href="#">Random Snack</a></li>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/sessions/login">Login</a></li>
      </ul>
    </nav>
  <%= yield %>
</body>
</html>
