<div class="container">
  <h1>SNACK OVERFLOW:</h1>
  <h2>QUESTIONS</h2>
  <p>placeholder: make a new question button</p>
  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>
  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>
  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>
  <h2>votes</h2>
  <p>questions</p>
  <p>answer</p>

</div>
