<div class="container">

  <h2>QUESTIONS</h2>

  <% @questions.each do |question| %>
    <div class="comment_list">
      <ul style="list-style: none">

        <li><a href="/questions/<%= question.id %>"><%= question.title %></a> </li>
      </ul>
    </div>
    <br>
  <% end %>
</div>
