<div class="container">

  <form class='new_question' method='post' action='/questions'>
<!--     this should submit a new stupid question - saving it to the database, via controller -->
    <input class='question_content' name='new_question' type='text' placeholder='Type ur stupid question here'>
    <input class='topic_input' name='topic1' type='text' placeholder='topic'>
    <input class='topic_input' name='topic2' type='text' placeholder='topic'>
    <input class='topic_input' name='topic3' type='text' placeholder='topic'>
    <input class='topic_input' name='topic4' type='text' placeholder='topic'>
    <button>SUBMIT UR STUPID QUESTION</button>



<% if !session[:user_id].nil? %>
  <div class="container">


    <form method='post' action='/questions'>
  <!--     this should submit a new stupid question - saving it to the database, via controller -->
      <input name='new_question' type='text' placeholder='Type ur stupid question here'>
      <button>SUBMIT UR STUPID QUESTION</button>
    </form>

  </div>

<% else %>
  <div class="container">
    <h3>Uh Oh.</h3>
    <p>It looks like you're trying to ask a question. <a href="/sessions/login">Log in</a> or
      <a href="/users/new">sign up</a> to ask a question.</p>
  </div>
<% end %>
