<br>
<% if !session[:user_id].nil? %>
  <div class="container">


    <form method='post' action='/questions'/>
      <h5> so you have a question...</h5>
      <input type='hidden' name='question[user_id]' value= <%"session[:user_id]"%>/>
      <input class='question_title' name='question[title]' type='text' placeholder='title your question'/>
      <input class='question_content' name='question[content]' type='text' placeholder='your question'/>

     <!--  <label><input type="checkbox" name="checkbox" value="value">Text</label> -->
      <h6> (tag it)</h6>
      <% Topic.all.each do |topic| %>
       <label>
       <input type='hidden' name="name[]" value=<%"topic.name"%>/>
       <input type='checkbox' name="topic[]" value="<%=topic.id %>"/> <%=topic.name%> </label>
       
      <% end %>
      <input type='submit' value="ask" />
    </form>

  </div>

<% else %>
  <div class="container">
    <h3>Uh Oh.</h3>
    <p>It looks like you're trying to ask a question. <a href="/sessions/login">Log in</a> or
      <a href="/users/new">sign up</a> to ask a question.</p>
  </div>
<% end %>
