<div class="container">
  <h1>SNACK OVERFLOW:</h1>
  <h2>MAKE A NEW STUPID QUESTION</h2>

  <form method='post' action='/questions'>
<!--     this should submit a new stupid question - saving it to the database, via controller -->
    <input name='new_question' type='text' placeholder='Type ur stupid question here'>
    <button>SUBMIT UR STUPID QUESTION</button>
  </form>

</div>
