<div class="container">
  <h1>SNACK OVERFLOW</h1>
  <h2>Make a new Stupid Snack Question!</h2>

  <form method='post' action='/questions'>
    <input name='new_question' type='text' placeholder='Type ur stupid question here'>
    <button>SUBMIT UR SNACK QUESTION</button>
  </form>

</div>
