<div class="container">
  <form method='post' action='/questions/:query'>
    <input type="text" name="params[query]" placeholder="Search snacks by tags">
    <input type="submit" value="Find Me Some Snacks">
  </form>
</div>
