<div class="container">
<<<<<<< HEAD

  <h2>Awesome Snack question!</h2>

  <form method='post' action='/questions'>
=======
  <h1>SNACK OVERFLOW:</h1>
  <h2>Question shown here</h2>

  <%= @question.content %>
  <form method='post' action='/questions'>
<!--     this should submit a new comment -->
<!-- Yeah, it should but it fucking DOESN'T>  -->
>>>>>>> 6419591af5299b1cb901bda0b76adaaada752ac5
    <input name='new_question' type='text' placeholder='Type ur stupid comment here'>
    <button>SUBMIT UR SNACK COMMENT</button>
  </form>

</div>
