<div class="container">

  <h2>Awesome Snack question!</h2>

  <form method='post' action='/questions'>
  <h1>SNACK OVERFLOW:</h1>
  <h2><%= @question.title %></h2>

  <%= @question.content %>

  <br>
  <br>

  <% Answer.all.each do |answer| %>
    <% if answer.question_id == @question.id %>
      <%= answer.content %>
    <% end %>
  <% end %>


  <form method='post' action='/questions'>
<!--     this should submit a new comment -->
<!-- Yeah, it should but it fucking DOESN'T>  -->
    <hr>
    <input name='new_comment' type='text' placeholder='Type ur stupid comment here'>
    <button>SUBMIT UR SNACK COMMENT</button>
  </form>

</div>
