<div class="container">
  <h1>SNACK OVERFLOW</h1>
  <h2>Awesome Snack question!</h2>
  <nav>
    <ul>
      <li><a href="#">Snack Questions</a></li>
      <li><a href="#">Snack Topics</a></li>
      <li><a href="#">Random Snack</a></li>
      <li><a href="/users/new">Sign Up</a></li>
      <li><a href="/sessions/login">Login</a></li>
    </ul>
  </nav>


  <form method='post' action='/questions'>
    <input name='new_question' type='text' placeholder='Type ur stupid comment here'>
    <button>SUBMIT UR SNACK COMMENT</button>
  </form>

</div>
