<div class="container">
  <h1>SNACK OVERFLOW:</h1>
  <h2>Question shown here</h2>

  <%= @question.content %>
  <form method='post' action='/questions'>
<!--     this should submit a new comment -->
<!-- Yeah, it should but it fucking DOESN'T>  -->
    <input name='new_question' type='text' placeholder='Type ur stupid comment here'>
    <button>SUBMIT UR STUPID COMMENT</button>
  </form>

</div>
