<div class="container">
  <h1>SNACK OVERFLOW:</h1>
  <h2>Question shown here</h2>
  <nav>
    <ul>
      <li>Snack Questions</li>
      <li>Snack Topics</li>
      <li>Random Snack</li>
    </ul>
  </nav>






  <form method='post' action='/questions'>
<!--     this should submit a new comment -->
    <input name='new_question' type='text' placeholder='Type ur stupid comment here'>
    <button>SUBMIT UR STUPID COMMENT</button>
  </form>

</div>
