<div class="container">

  <h2>Awesome Snack question!</h2>

  <form method='post' action='/questions'>
    <input name='new_question' type='text' placeholder='Type ur stupid comment here'>
    <button>SUBMIT UR SNACK COMMENT</button>
  </form>

</div>
