<div class="container">



  <h1>SNACK OVERFLOW:</h1>
  <h2><%= @question.title %></h2>

  <%= @question.content %>

  <% @tags.each do |tag| %>
   <p> <%= Topic.find_by(id: tag.topic_id).name %> </p>
   <% end %>

  <br>
  <br>

  <% Answer.all.each do |answer| %>
    <% if answer.question_id == @question.id %>
      <%= answer.content %>
    <% end %>
  <% end %>


  <form method='post' action='/questions'>
<!--     this should submit a new comment -->
<!-- Yeah, it should but it fucking DOESN'T>  -->

    <input name='new_question' type='text' placeholder='Type ur stupid comment here'>

    <button>SUBMIT UR SNACK COMMENT</button>
  </form>

</div>
